* {
  margin: auto;
  padding: 0;
  box-sizing: border-box;
  background-color: antiquewhite;
  text-align: center;
  font-family: "Oswald", sans-serif;
}

.background {
  margin-top: 200px;
  background-color: rgb(234, 76, 76);
  width: 500px;
  height: 500px;
  border: 2px solid black;
}

.image {
  height: 150px;
  border: 2px solid black;
  border-radius: 50%;
  margin-top: -75px;
}

.textes h3,
p,
span {
  color: black;
  background-color: rgb(234, 76, 76);
  font-size: 2rem;
  font-weight: ;
}

.yellow {
  color: yellow;
}

.footer {
  margin-top: 3rem;
  color: brown;
  font-size: 2rem;
}

.link {
  text-decoration: dashed underline;
  color: brown;
}

.link:hover {
  color: aqua;
}
